body,html{
  	padding:0;
  	border:0;
  	margin:0;
  	width:100%;
  	min-height:100%;
  	/*background:url('<%=basePath %>/assets/imgs/189.jpg') no-repeat;*/
  	background-size:cover;
	background-attachment:fixed;		
	text-align:center;
}
input[type="submit"],input[type="reset"],input[type="button"]{
  	height:40px;
  	padding:0px 8px;
  	text-align:center;
  	line-height:100%;
  	background-color:#aabbcc;
  	filter:alpha(opacity=50);  
	-moz-opacity:0.5;  
	-khtml-opacity: 0.5;  
	opacity: 0.5;
  	font-size:26px;
  	color:#white;
  	border-radius:10px;
}
*{
	padding:0;
	border:0;
	margin:0;
}
table tr{
	height:50px;
	line-height:50px;
}
table tr td{
	height:50px;
	line-height:50px;
	color:#fff;
	font-size:30px;
}
table tr td input{
	height:40px;
	line-height:40px;
	font-size:30px;
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
}