/* /* 单张图片的鼠标悬停旋转动画demo */ */
body {
    background-color: #E9E9E9;
    color: #333333;
    font-family: "Lucida handwriting",Arial,Helvetica,sans-serif;
    font-size: 16px;
}
.box {
    width: 500px;
    margin: 100px auto 0;
    font-size: 0.75em;
}
.pic {
    width: 128px;
    padding: 10px 10px 15px;
    text-align: center;
    background: white;
    border: 1px solid #bfbfbf;
    margin-left: 1.6em;
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
    float: right;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* 多张图片的鼠标悬停旋转动画demo */
body {
    background-color: #E9E9E9;
    color: #333333;
    font-family: "Lucida handwriting",Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.box {
    width: 960px;
    height: 450px;
    margin: 60px auto 0;
    font-size: 0.75em;
    position: relative;
}
.title {
    position: absolute;
    padding: 15px 40px;
    font-size: 2em;
    border: 1px solid #bbbbbb;
    background: white;
    -webkit-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.4);
    box-shadow: 4px 4px 3px rgba(50, 50, 50, 0.4);
    left: 330px;
    top: 100px;
    z-index: 2;
}
.pic {
    display: block;
    padding: 10px 10px 15px;
    text-align: center;
    background: white;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
    box-shadow: 2px 2px 3px rgba(135, 139, 144, 0.4);
    -webkit-transition: all 0.5s ease-in;
    position: absolute;
    z-index: 1;
}
.pic1 {
    bottom: 10px;
    right: 365px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}
.pic2 {
    top: 50px;
    right: 20px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.pic img {
    display: block;
    margin-bottom: 10px;
    border: 0;
}
img[Attributes Style] {
    width: 140.342px;
}
a, a:hover {
    color: #333333;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

















